<div fxLayout="column" fxLayoutGap="10px">
    <div fxFlex >
      <ol class="col-12 breadcrumb">
        <li class="breadcrumb-item"><a routerLink="/home" routerLinkActive="active">Home</a></li>
        <li class="breadcrumb-item"><a [routerLink]="['/category', mood.id]" routerLinkActive="active">{{mood.text}}</a></li>      
        <li class="breadcrumb-item"><a [routerLink]="['/tvseries', mood.id]" routerLinkActive="active">Tv-Series</a></li> 
        <li class="breadcrumb-item">{{engSerie.name}}</li> 
      </ol>
  </div>
  
    <div class="container"
        fxLayout="row wrap"
        fxLayout.sm="column"
        fxLayout.xs="column"
        fxLayoutAlign.gt-md="space-around center"
        fxLayoutGap="10px">
  
        <div fxFlex="100">
            <div>
              <h3 *ngIf="engSerie">{{engSerie.name}}</h3>
              <hr>
            </div>
        </div>
  
        <div fxFlex="50" *ngIf="engSerie">
          <mat-card>
            <a href={{engSerie.link}} target='_blank'>
            <img class="boxx" height="300px" mat-card-image src="{{ BaseURL + engSerie.image}}" alt={{engSerie.name}}></a>
            <mat-card-content>
              <h6><p>{{engSerie.description}}</p></h6>
            </mat-card-content>
            <mat-card-actions class="move">
              <button mat-button [routerLink]="['/engseriesdetail', mood.id, prev]"><span class="fa fa-chevron-left fa-lg"></span></button>
              <button mat-button>LIKE</button>
              <button mat-button>SHARE</button>
              <span class="flex-spacer"></span>
                  <button mat-button [routerLink]="['/engseriesdetail', mood.id, next]"><span class="fa fa-chevron-right fa-lg"></span></button>
            </mat-card-actions>
          </mat-card>
        </div>
  
        <div fxFlex="40" *ngIf="engSerie" class="back">
          <mat-list>
            <h3>Reviews</h3>
            <mat-list-item *ngFor="let rev of engSerie.reviews">
              <h4 matLine>{{rev.review}}</h4>
              <p matline>{{rev.rating}} Stars</p>
              <p matLine><span>-- {{rev.name}} {{rev.date | date}}</span></p> 
            </mat-list-item>
            <mat-list-item *ngIf="reviewForm.valid">
              <h4 matLine>{{reviewForm.value.review}}</h4>
              <p matLine>{{reviewForm.value.rating}} Stars</p>
              <p matLine><span>-- {{reviewForm.value.name}}</span></p>
            </mat-list-item>
          </mat-list>
          <form novalidate [formGroup]="reviewForm" #cform="ngForm" (ngSubmit)="onSubmit()">
            <p>
              <mat-form-field class="full-width">
                <input matInput formControlName="name" placeholder="Name" type="text">
                <mat-error *ngIf="reviewErrors.name">{{reviewErrors.name}}</mat-error>
              </mat-form-field>
            </p>
            <p>
              <mat-slider matInput formControlName="rating" thumbLabel tickInterval="1" min="1" max="5" value="5"></mat-slider>
            </p>
            <p>
              <mat-form-field class="full-width">
                <textarea matInput formControlName="review" placeholder="Your Review" rows="4"></textarea>
                <mat-error *ngIf="reviewErrors.review">{{reviewErrors.review}}</mat-error>
              </mat-form-field>
            </p>
            <button type="submit" mat-button class="background-primary text-floral-white" [disabled]="reviewForm.invalid">Submit</button>
          </form>
        </div>
  
    </div>
    <div [hidden]="mood || errMess" class="loader"></div>
  </div>