<div fxLayout="column" fxLayoutGap="-10px">
    <div fxFlex >
        <ol class="col-12 breadcrumb">
          <li class="breadcrumb-item"><a routerLink="/home" routerLinkActive="active">Home</a></li>
          <li class="breadcrumb-item">Open World</li>        
        </ol>
    </div>
    <div fxFlex class="container">
        <div class="col-12">
          <h1>Open World</h1>
          <hr>
        </div>
    </div>

    <div class="container"
        fxLayout="row"
        fxLayout.sm="column"
        fxLayout.xs="column"
        fxLayoutAlign.gt-md="space-around center"
        fxLayoutGap="10px">

        <div class="scroll" fxFlex="50" *ngIf="openworlds">
            <mat-card class="asd" *ngFor="let openworld of openworlds.slice().reverse()">
                <mat-card-header>
                    <div mat-card-avatar class="example-header-image"></div>
                    <mat-card-title>{{openworld.author.username}}</mat-card-title>
                    <mat-card-subtitle>{{openworld.createdAt | date}}</mat-card-subtitle>
                </mat-card-header>
                <img height="300px" mat-card-image src="{{ BaseURL2 + openworld.image}}" alt={{openworld.image}}>
                <mat-card-content>
                    <p>{{openworld.caption}}</p>
                </mat-card-content>
            </mat-card>
        </div>
        <div fxFlex="40">
            <div class="example-container mat-elevation-z8">
                <h3>Post New</h3>
                <mat-card class="example-form">
                    <form [formGroup]="openWorldForm" #owform="ngForm" (ngSubmit)="onSubmit()">
                        <mat-form-field class="example-full-width">
                            <mat-label>Post Image</mat-label>
                            <ngx-mat-file-input formControlName="image" placeholder="Select Image" valuePlaceholder="No image file selected"></ngx-mat-file-input>
                            <mat-icon matSuffix>folder</mat-icon>
                            <mat-error *ngIf="openWorldErrors.image">{{openWorldErrors.image}}</mat-error>
                        </mat-form-field>
                        <mat-form-field class="example-full-width">
                            <mat-label>Caption</mat-label>
                            <input matInput placeholder="Caption" formControlName="caption">
                            <mat-error *ngIf="openWorldErrors.caption">{{openWorldErrors.caption}}</mat-error>
                        </mat-form-field>
                        <div class="button-row">
                            <button type="submit" mat-flat-button color="primary"><mat-icon>upgrade</mat-icon></button>
                        </div>
                    </form>
                </mat-card>
            </div>

        </div>
    </div>
</div>