.example-full-width {
    width: 100%;
  }
  
  .example-full-width:nth-last-child(0) {
    margin-bottom: 10px;
  }

  .tool{
      background-color:  #00177c;
      color: white;
  }

  .space{
      margin: 2.5%
  }
  .error{
      color: red;
  }
