<div fxLayout="column" fxLayoutGap="-10px">
    <div fxFlex >
        <ol class="col-12 breadcrumb">
          <li class="breadcrumb-item"><a routerLink="/home" routerLinkActive="active">Home</a></li>
          <li class="breadcrumb-item"><a [routerLink]="['/category', mood.id]" routerLinkActive="active">{{mood.text}}</a></li>      
          <li class="breadcrumb-item">Music</li>  
        </ol>
    </div>

    <div fxFlex class="container">
        <div class="col-12">
            <h1>Music</h1>
            <hr>
        </div>
    </div>

    <div class="offset-2 col-8" *ngIf="mood">
		<mat-grid-list cols="2" rowHeight="200px" gutterSize="28px">
			<a><mat-grid-tile class="img-wrapper boxx" *ngFor="let music of mood.musics" [routerLink]="['/musicdetail', mood.id, music.id]">
				<img class="inner-img" height="300px" src="{{ BaseURL + music.image}}" alt={{music.name}}>
                    <div class="centered-before">
                    <h5> {{music.name}} </h5>
                    </div>
				
			</mat-grid-tile></a>
		</mat-grid-list>
    </div>
    <div [hidden]="mood || errMess" class="loader"></div>
</div>