
  .move{
    margin-left: 30%;
  }
  .boxx{
    transition: 0.3s;
  }
  .boxx:hover{
    transform: scale(1.1);
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  }
  h3{
    font-family: 'Lobster', cursive;
    text-align: center;
  }
  h6{
    font-family: 'Domine', serif;
    text-align: justify;
  }
  .space{
    column-gap: 40px;
    display: flex;
    justify-content: center;
    flex-direction: row;
  }
  .up{
    margin-bottom: 8%;
  }